.header{
        background-image: url("/images/bg-header-desktop.png");
        background-repeat: no-repeat;
        font-family: 'Bai Jamjuree', sans-serif;
        
}
.flogo{
        padding: 25px;
}
.header__logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
}
.firstt{
        font-size: 38px;
        font-family: semi-bold;
}
    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
}
.ios{
        background-color: hsl(171, 66%, 44%);
        color: white;
        width: 150px;
        height: 32px;
        border: none;
        border-radius: 12px;
        margin-right: 10Px;
        margin-top: 12px;
        transition-duration: 0.5s;
        
}
.ios:hover{
        box-shadow: 0 7px 14px hsl(171, 66%, 44%);
}
.mac{
        background-color: hsl(233, 100%, 69%);
        color: white;
        width: 150px;
        height: 32px;
        border: none;
        border-radius: 12px;
        margin-left: 12Px;
        margin-top: 10px;
        transition-duration: 0.5s;
        
}
.mac:hover{
        box-shadow: 0 7px 14px hsl(233, 100%, 69%);
}
.access{
        opacity: 0.5;
        font-size: 18px;
        font-family: regular;
}
.firstp{
        margin-top: 10px;
        opacity: 0.5;
        font-size: 18px;
        font-family: regular;
    

}