.tablette{
    width: 100%;
    height: auto;
    margin-top: 90px;
    margin-bottom: 5rem;
}

.tablette__tittle h1{
    color: hsl(210, 10%, 33%);
    margin-bottom: 1rem;
    text-align: center;
}

.tablette__tittle p{
    color: hsl(201, 11%, 66%);
    line-height: 1.7rem;
    text-align: center;
}

.tablette__img{
    margin-top: 5rem;
   text-align: center;
}

.tablette__img img{
    max-width: 70rem;
    width: 100%;
    height: auto;
}

@media (max-width:340px){
    .tablette__img img{
        object-fit: contain;
        width: auto;
        margin: auto;
        padding: auto;
    }

}





